.new-theme{
    position: relative;
    padding-top: 48px;
    header{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        background: #333;
        text-align: center;
        line-height: 48px;
        padding: 0 30px;
        z-index: 10;
        .h-left, .h-right{
            @include make-xs-column(2);
        }
        .h-center{
            @include make-xs-column(8);
            text-align: center;
        }
        ul{
            display: inline-block;
            vertical-align: middle;
        }
        a{
            display: inline-block;
            vertical-align: middle;
        }
        .nav > li{
            position: relative;
            line-height: 28px;
            &:first-child{
                a{
                    border-left: 1px solid #6a6a6a;
                }
            }
            &.active{
                &:before{
                    content: '';
                    position: absolute;
                    top: -7px;
                    left: 5px;
                    width: 85%;
                    height: 11px;
                    background: #77be44;
                }
            }
        }
        .nav-pills > li > a{
            color:  #fefefe;
            font-size: 16px;
            font-weight: 400;
            line-height: 9px;
            border-right: 1px solid #6a6a6a;
        }
        .form-line{
            position: absolute;
            right: 31px;
            bottom: -61px;
            .form-group{
                position: relative;
                &:before{
                    content: '';
                    position: absolute;
                    top: 3px;
                    right: 37px;
                    width: 1px;
                    height: 25px;
                    background: #c8c8c8;
                }
            }
            input{
                border: solid 1px #0171bb;
                width: 284px;
                height: 30px;
                line-height: 30px;
                font-family: 'Roboto';
                color:  #999;
                font-size: 14px;
                font-weight: 400;
                @include input-placeholder{
                    font-family: 'Roboto';
                    color:  #999;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
            button{
                display: inline-block;
                position: absolute;
                top: 3px;
                right: 5px;
                border: none;
                outline: none;
                box-shadow: none;
                background-color: transparent;
            }
        }
        .login{
            position: absolute;
            left: 29px;
            bottom: -44px;
            width: 96px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color:  #fffefe;
            font-size: 14px;
            font-weight: 400;
            background: #0171bb;
        }
    }
    .doctors{
        background: #0171bb;
        padding: 0 8px;
        color:  #010000;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
    }
}
