$sprites-sprite-dimensions: true;
@import "compass/utilities/sprites";
@import "sprites/*.png";
@include all-sprites-sprites;

.i{
    display: inline-block;
    vertical-align: middle;
}

.icon1{
    @include sprites-sprite(icon1);
}

.icon2{
    @include sprites-sprite(icon2);
}

.icon3{
    @include sprites-sprite(icon3);
}

.icon4{
    @include sprites-sprite(icon4);
}

.chevron-down{
    @include sprites-sprite(chevron-down);
}

.search-icon{
    @include sprites-sprite(search-icon);
}

.find-small{
    @include sprites-sprite(find-small);
}

.small-temed{
    @include sprites-sprite(small-temed);
}

