$font-family-sans-serif:  'Verdana', sans-serif;
$btn-border-radius-base:         0px;
$input-border-radius:            0px;
 $form-group-margin-bottom:       8px;
$grid-columns:              12;
$grid-gutter-width:         0px;
$nav-link-padding: 14px 9px;
$nav-link-hover-bg: transparent;
$nav-pills-border-radius:                   0px;
$nav-pills-active-link-hover-bg:            transparent;
$nav-pills-active-link-hover-color:         #fefefe;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "compass";
@import "sprites";
@import "selectpicker";
@import "fullpage";
@import "header";
@import "content";
@import "symptoms";

html, .new-theme{
    height: 100%;
    min-width: 1280px;
}