footer{
    padding: 0 0 20px 0;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    .text-center{
        line-height: 10px;
    }
    .nav-pills{
        display: inline-block;
    }
    .nav-pills > li > a{
        background: #717174;
        font-size: 12px;
        line-height: 18px;
        text-transform: uppercase;
        color: #fff;
        @include text-shadow(0 2px rgba(0,0,0,.32));
        &:hover{
            background: #ef3e35;
        }
    }
}
