header{
    padding: 23px 0 0 0;
    margin-bottom: 270px;
    .form-group{
        float: left;
        width: 226px;
        height: 30px;
        margin-left: 2px;
        &:first-child{
            margin-left: 0px;
        }
        .form-control{
            width: 100%;
            height: 30px;
            @include input-placeholder{
                @include text-shadow(0 1px rgba(0,0,0,.24));
            }
        }
    }
    .btn{
        float: left;
        padding: 4px 15px;
        margin-left: 1px;
        text-transform: uppercase;
        @include text-shadow(0 2px rgba(0,0,0,.32));
    }
}

