/* jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/ */
div.rating-cancel,div.star-rating{
    float:left;width:17px;
    height:15px;
    text-indent:-999em;
    cursor:pointer;
    display:block;
    background:transparent;
    overflow:hidden}
div.rating-cancel,div.rating-cancel a{background:url(delete.gif) no-repeat 0 -16px}
div.star-rating,div.star-rating a{
    @extend .star-empty;
}
div.rating-cancel a,div.star-rating a{
    @extend .star-empty;
    display:block;
    border:0
}
div.star-rating-on a{
    @extend .star;
}

/* Read Only CSS */
div.star-rating-readonly a{cursor:default !important}
/* Partial Star CSS */
div.star-rating{background:transparent!important;overflow:hidden!important}
/* END jQuery.Rating Plugin CSS */
