$sprites-sprite-dimensions: true;
@import "compass/utilities/sprites";
@import "sprites/*.png";
@include all-sprites-sprites;

.i{
    display: inline-block;
    vertical-align: middle;
}

.close-btn > span{
    display: inline-block;
    @include sprites-sprite(close);
}

.angle-left{
    @include sprites-sprite(angle-left);
}

.icon1{
    @include sprites-sprite(icon1);
}

.star-empty{
    @include sprites-sprite(star-empty);
}

.star{
    @include sprites-sprite(star);
}

.button{
    @include sprites-sprite(button);
}

.paypal-v{
    @include sprites-sprite(paypal-v);
}

.secure{
    @include sprites-sprite(secure);
}

.chrome{
    @include sprites-sprite(chrome);
}

.windows{
    @include sprites-sprite(windows);
}
